{% extends "base.html" %}



{% block content %}
<section class="oc-banner">
    <div>
        <!--<span class="oc-banner&#45;&#45;title">i keep code <span style="text-transform: lowercase;">and</span> carry on</span><br>-->
        <span class="oc-banner--title">Coding with Clarity</span><br>
        <span class="oc-banner--body">Web scraping, Crawler, Automation,  Web Services, ETL(Extraction/Transformation/Loading), Python, Django or Flask Web App.</span>
    </div>


</section>
{% endblock content %}









